jtype: Flow
with:
  port: 51000
  protocol: http
  cors: true
executors:
  - name: clip_t
    uses:
      jtype: CLIPEncoder
      with:
        name: '__CLIP_MODEL_NAME__'
      metas:
        py_modules:
          - clip_server.executors.clip_torch
